body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgba(255,255,255,0.5);
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 400;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #25BAD0;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
}
h3, h4 {
	color: #333;
	font-size: 20px;
	font-weight: 400;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #fff;
}
a:hover, a:focus {
	text-decoration: none;
	color: #25BAD0;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #25BAD0;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: rgb(224, 83, 13);
}
.on {
	background-color: #03252b !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #25BAD0 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.btn-default {
	color: #25BAD0;
	background-color: transparent;
	border: 2px solid #25BAD0;
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #053740;
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
.section-title {
	padding: 25px 0 60px 0;
}


/* Home Section */
.swiper-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
  .swiper-wrapper { transition: 2s cubic-bezier(.68,-0.4,.27,1.34) .2s; }
  .btn-custom {
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    background-color: rgb(224, 83, 13);
    border: 0;
    padding: 14px 20px;
    margin-left: 0;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 40px;
    transition: all 0.3s;
 }
 .btn-custom:hover,
 .btn-custom:focus,
 .btn-custom.focus,
 .btn-custom:active,
 .btn-custom.active {
    color: rgb(224, 83, 13);
    background-color: #414a52;
 }
  .h-btn{
    text-align: center;
  }
  .sl1 {
      width: 100%;
      height: 100%;
      // background: url('http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png');
    background: url('https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=377e356cce015c363d123504857f8137&auto=format&fit=crop&w=1311&q=80');
      background-size:     cover;                     
      background-repeat:   no-repeat;
      background-position: center center;
   }
   .sl2 {
      width: 100%;
      height: 100%;
      background: url('http://img10.deviantart.net/9129/i/2012/267/3/4/rain_of_lights_by_saretta1-d5eo0j1.png');
      background-size:     cover;                     
      background-repeat:   no-repeat;
      background-position: center center;
   }
   .sl3 {
      width: 100%;
      height: 100%;
      // background: url('http://pre11.deviantart.net/6b60/th/pre/f/2012/243/3/7/37cdb8c0966aa1d9f5d9c1f308de7a32-d5d2be8.png');
     background: url('https://images.unsplash.com/photo-1523057530100-383d7fbc77a1?ixlib=rb-0.3.5&s=c43e285e924f51cff9b02e803df4b403&auto=format&fit=crop&w=1949&q=80');
      background-size:     cover;                     
      background-repeat:   no-repeat;
      background-position: center center;
   }
  .overlay{
    width: 100%;
    height: 100%;
     padding: 0;
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 80%); 
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 80%); 
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 80%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#99053740', GradientType=0 );     
  }  
  .swiper-slide{
   .h-text{
      font-size: 36px;
      font-family:  "Open Sans", sans-serif;
      font-weight: bold;
      padding: 10px 20px;
      color: rgba(255,255,255, 1);
      position: absolute;
      top: 65%;
      left: 50%;
     margin: auto;
      transform: translate(-50%, -100%); 
    } 
    .l1 {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition: 0.2s ease 0.4s; 
      }
       .l2 {
        opacity: 0;
         transform: translate3d(50px, 0, 0);
         transition: 0.2s ease 0.5s;
      }
      .l3 {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition: 0.2s ease 0.6s; 
      }
      .l4{
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition: 0.2s ease 0.7s; 
      }
    .l5{
        opacity: 0;
        transform: translate3d(50px, 0, 0);
        transition: 0.2s ease 0.8s; 
      }
    &-active {
      .l1 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 0.6s ease 1s;
      }
      
      .l2 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 0.7s ease 1.1s;
      }
      
      .l3{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 0.8s ease 1.2s;
      }
      .l4{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 0.9s ease 1.3s;
      }
      .l5{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 1s ease 1.4s;
      }
    }
  }
  .swiper-button-prev{
    margin-left: 50px;
    font-size: 40px;
    background: none;
    &:hover { transform: translateX(-5px); color: #ba861f;}
  }
  .swiper-button-next{
    margin-right: 50px;
    font-size: 40px;
    background: none;
    &:hover { transform: translateX(5px); color: #ba861f;}
  }
  
}
.swiper-pagination{
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    opacity: 0.8;
    background: grey;
  }
  .swiper-pagination-bullet-active {
      opacity: 1;
      background: #ba861f;
  }
}



/* About Section */
#about {
	padding: 100px 0;
	color: rgba(255,255,255,0.9);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(7, 70, 96, 1) 0%, rgba(105, 119, 142, 1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(7, 70, 96, 1) 0%, rgba(105, 119, 142, 1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(7, 70, 96, 1), rgba(105, 119, 142, 1));	 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074660', endColorstr='#69778e', GradientType=0 ); /* IE6-9 */
  
}
.about-photo {
  margin-top:20px;
}

#about h4 {
	color: #0e163f;
}
#about .about-text {
	margin-left: 10px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Skills Section */
$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;
$pink: #c10fa9;
$li-padding: 5px;
$progressbar-title-color: #0d4d4f;
$animation-delay: .7s;
$animation-step: .3s;
@mixin border-radius($radius){
-webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}

#skll {
background: linear-gradient(to top, rgba(178, 215, 232, 1) 0%, rgba(169, 205, 206,1) 50%);
font-family: 'PT Sans', sans-serif;
padding: 150px 0;
overflow:hidden;
}
.sk_title {
text-align: center;
margin-right: 50px;
margin-left: 50px;
padding-left: 100px;
padding-right: 100px;
  p {
    color:#0d4d4f;
    font-weight: 200;
  }
}
.skills-bars {
margin: 50px;
}
#h-icon {
text-align: center;
width:82px;
height: 67px;
margin-left: -20px;
margin-right: 10px;
}
.mIcon {
position: relative;
margin: auto;
bottom: -5px;
font-size: 65px;
color: #0e6856;
}
.skills-bar-container{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
width: 90%;
height: auto;
min-width: 200px;
list-style:none;
 li{
  position: relative;
  width: 100%;
  padding: $li-padding;
  margin-bottom: 10px;
   .progressbar-title{
    color: $progressbar-title-color;
    font-weight: 200;
    h3{
      display: inline-block;
    }
    .percent{
      position: absolute;
      right: 15px;
      bottom: 25px;
    }
  }// end progressbar-title
   .bar-container{
    background: #555;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    display: block;
    @include border-radius(5px);
  
    .progressbar{
      position:absolute;
      width:0%;
      height: 100%;
      @include border-radius(5px);

      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .p-java{
      -webkit-animation-name: progress-java;
      animation-name: progress-java;
      -webkit-animation-delay: $animation-delay;
      animation-delay: $animation-delay;
    }
    .p-node{
      -webkit-animation-name: progress-node;
      animation-name: progress-node;
      -webkit-animation-delay: $animation-delay;
      animation-delay: $animation-delay;
    }

    .p-css{
      -webkit-animation-name: progress-css;
      animation-name: progress-css;
      -webkit-animation-delay: $animation-delay + $animation-step*3;
      animation-delay: $animation-delay + $animation-step*3;
    }
    .p-web{
      -webkit-animation-name: progress-web;
      animation-name: progress-web;
      -webkit-animation-delay: $animation-delay + $animation-step*3;
      animation-delay: $animation-delay + $animation-step*3;
    }

    .p-javascript{
      -webkit-animation-name: progress-javascript;
      animation-name: progress-javascript;
      -webkit-animation-delay:$animation-delay + $animation-step;
      animation-delay: $animation-delay + $animation-step;
    }
    .p-npm{
      -webkit-animation-name: progress-npm;
      animation-name: progress-npm;
      -webkit-animation-delay:$animation-delay + $animation-step;
      animation-delay: $animation-delay + $animation-step;
    }

    .p-html{
      -webkit-animation-name: progress-html;
      animation-name: progress-html;
      -webkit-animation-delay: $animation-delay + $animation-step*2;
      animation-delay: $animation-delay + $animation-step*2;
    }
    .p-android{
      -webkit-animation-name: progress-android;
      animation-name: progress-android;
      -webkit-animation-delay: $animation-delay + $animation-step*2;
      animation-delay: $animation-delay + $animation-step*2;
    }
  
    .p-react{
      -webkit-animation-name: progress-react;
      animation-name: progress-react;
      -webkit-animation-delay: $animation-delay + $animation-step*4;
      animation-delay: $animation-delay + $animation-step*4;
    }
    .p-app{
      -webkit-animation-name: progress-app;
      animation-name: progress-app;
      -webkit-animation-delay: $animation-delay + $animation-step*4;
      animation-delay: $animation-delay + $animation-step*4;
    }
  
    .p-angular{
      -webkit-animation-name: progress-angular;
      animation-name: progress-angular;
      -webkit-animation-delay: $animation-delay + $animation-step*5;
      animation-delay: $animation-delay + $animation-step*5;
    }
    .p-db{
      -webkit-animation-name: progress-db;
      animation-name: progress-db;
      -webkit-animation-delay: $animation-delay + $animation-step*5;
      animation-delay: $animation-delay + $animation-step*5;
    }
  }// end bar-container
}
}

.progressred{background-color:$red;}
.progressblue{background-color:$blue;}
.progresspurple{background-color:$purple;}
.progressorange{background-color:$orange;}
.progresspink{background-color:$pink;}
.progressgreen{background-color:$green;}

@-webkit-keyframes progress-java{0%{width: 0%;} 100%{ width: 100%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-angular{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-node{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-npm{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-android{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-web{0%{width: 0%;} 100%{ width: 95%;}}
@-webkit-keyframes progress-app{0%{width: 0%;} 100%{ width: 75%;}}
@-webkit-keyframes progress-db{0%{width: 0%;} 100%{ width: 55%;}}

@-moz-keyframes progress-java{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-angular{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-node{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-npm{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-android{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-web{0%{width: 0%;} 100%{ width: 95%;}}
@-moz-keyframes progress-app{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-db{0%{width: 0%;} 100%{ width: 55%;}}

@keyframes progress-java{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-react{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-angular{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-node{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-npm{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-android{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-web{0%{width: 0%;} 100%{ width: 95%;}}
@keyframes progress-app{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-db{0%{width: 0%;} 100%{ width: 55%;}}

/* Portfolio Section */
#portfolio {
	padding: 100px 0;
  background: linear-gradient(-45deg, rgba(29, 114, 130,1) 20%, rgba(5, 55, 64,1) 100%);
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
}
ol.type li a {
	background: transparent;
	border: 2px solid #25BAD0;
	color: #25BAD0;
	padding: 10px 20px;
}
ol.type li a.active {
	background: #25BAD0;
	color: #053740;
}
ol.type li a:hover {
	background: #25BAD0;
	color: #053740;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Experience Section */
#experience {
	padding: 100px 0;
	color: rgba(255,255,255,0.9);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #283048 40%, #55679a 80%, rgba(146, 152, 175,1)); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000 0%, #283048 40%, #55679a 80%, rgba(146, 152, 175,1)); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(top, #000 0%, #283048 40%, #55679a 80%, rgba(146, 152, 175,1));/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a6bb', endColorstr='#25bad0', GradientType=0 ); /* IE6-9 */
font: normal 16px/1.5 "Helvetica Neue", sans-serif;
overflow-x: hidden;

#e-h1 {
    margin-top:15px;
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
  }
  #e-h2 {
    font-size: 0.9em;
    color: orange;
  }
  #e-h3 {
    font-size: 0.8em;
    color: #efd775;
    margin-top:5px;
  }
  p{
    margin-top: 20px;
  }
  .timeline ul {
    padding: 30px 0;
    &:before {
		content: "";
     border-left: 5px solid #c17e20;
     left: -0.25em;
     top: 2em;
     height: 100%;
     position: absolute;
     bottom: 0;
     top: 0;
    transform-origin:0 0;
    animation:scaleVertical 3s 1s ease both 1;
	}

	&:after {
		content: "";
    clear:both;    
		position: absolute;
		bottom: 0px;
		left: -1em;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% #f7a32e;
		border: 5px solid #DDD;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation:revealScaleUp 0.75s 2.82s ease both 1;
	}
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 8px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}


.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  animation:revealScaleUp 0.75s 2.82s ease both 1;
}

.timeline ul li #e-div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  // background: #570c72;
}

.timeline ul li #e-div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) #e-div {
  left: 56px;
}

.timeline ul li:nth-child(odd) #e-div::before {
  left: -22px;
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) #e-div {
  left: -449px;
}

.timeline ul li:nth-child(even) #e-div::before {
  right: -22px;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 1s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #d17d08;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.timeline ul li #e-div {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.timeline ul li:nth-child(odd) #e-div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) #e-div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view #e-div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) #e-div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li #e-div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) #e-div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) #e-div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
}


/* Contact Section */
#contact {
	background: url(../img/contact-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.75+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 ); /* IE6-9 */
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 20px 0;
}
#contact .text-danger {
	color: #ff6600;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}
#contact .btn {
  margin-top: 20px;
  color: rgb(224, 83, 13);
  border-color: rgb(224, 83, 13);
}
#contact {
  .btn:hover, 
  .btn:active, 
  .btn:focus,
  .btn.active{
  background-color: rgb(224, 83, 13);
  border-color: rgb(224, 83, 13);
  color: #053740;
  outline: none;
  outline-offset: none;
  }
}

#contact .social {
  background: rgba(204, 204, 204, 0.6);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social{
  .fab{
    transition: all 0.5s;
  }
	font-size: 40px;  
  .fa-facebook-square{
    color: #3b5998;
  }
	.fa-linkedin{
    color: #0976b4;
  }
  .fa-twitter-square{
    color: #55acee;
  }
  .fa-tumblr-square{
    color: #35465c;
  }
  .fa-youtube-square{
    color: #e52d27;
  }
  .fa-github-square{
    color: #333;
  }
  .fa-instagram{
    // color: #cd486b;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
	
}
#contact .social i.fab:hover {
	color: #ba861f;
}
/* Footer Section*/
#footer {
	background: #03252b;
	padding: 25px 0 20px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #25BAD0;
}

/* Media Queries */
@media (max-width: 1024px) {
.intro H1 {
	font-size: 42px;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}
#about img {
	margin-bottom: 20px;
}
}


